
<ion-view view-title="APPizza">
    <ion-content>
        <div class="bar bar-subheader static text-center">
            <strong class="title">Home</strong>
        </div>
        <div class="im-wrapper">
            <!-- Ionic Components -->
            
           <div class="list card" style="background-image:url(http://www.ideafresco.com/images/640_pizza.jpg); background-size:cover; background-position:center;">
              <div class="item item-body"> 
              <br /><br /><br /><br /><br /><br />
              </div> 
              <div class="item tabs tabs-secondary tabs-icon-bottom">
                 <a class="tab-item" data-ink-color="#336600" data-ink-opacity="0.5">
                       <i class="icon ion-share"></i> Compra
                 </a>
                 <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5">
                      <i class="icon ion-plus"></i> Altro
                 </a>
                 <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5">
                      <i class="icon ion-social-google"></i> Condividi
                 </a>
               </div>
           </div>
           
           
           <div class="list card">
              <div class="item item-body"> 
                 IMMAGINI CIBO pizza
              </div> 
              <div class="item tabs tabs-secondary tabs-icon-bottom">
                 <a class="tab-item" data-ink-color="#336600" data-ink-opacity="0.5">
                       <i class="icon ion-share"></i> compra
                 </a>
                 <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5">
                      <i class="icon ion-plus"></i> Altro
                 </a>
                 <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5">
                      <i class="icon ion-social-facebook"></i> Compra
                 </a>
               </div>
           </div>
           
           
           
           
            
        </div>
    </ion-content>
</ion-view>
