<!-- ################################################################################################################################
     ###     @author: Salvo Incarbone, Stefano Mitello, Rocco.                                                                    ###
	 ###     @version: 2.2.0                                                                                                      ###
	 ###     © Copyright. 2016 WaterMelon Inc. All right reserved.                                                                ###
	 ###                                                                                                                          ###
	 ###                                                 PAGINA LOGIN                                                             ###
	 ################################################################################################################################-->




<ion-view view-title="Login" align-title="left">

    <ion-content >
   
        <div class="hero no-header flat">
             <div class="content">
			 
                <div class="app-icon"></div> 
				  <!-- <center> <img src="img/watermelon1.gif" width="60px" height="60px">-->
				   <i class="verified_user">Utente verificato</i></center>
                   <h1>APPizza!</h1>
                </div>
      
             </div>
			 
			 
                
				
				<!-- ============== INIZIO FORM ==================================================== -->		 
    
               <div class="row">
                 <form class="col s12">
				 
                   <div class="row">
                     <div class="input-field col s6">
                       <i class="material-icons prefix">account_circle</i>
                       <input id="icon_prefix" type="text" class="validate">
                       <label for="icon_prefix">Nome</label>
                     </div>
				  </div>
				  
				  <div class="row">
                     <div class="input-field col s6">
                       <i class="material-icons prefix">account_circle</i>
                        <input id="icon_telephone" type="text" class="validate">
                        <label for="icon_telephone">Cognome</label>
                      </div>
                   </div>
				   
				   <div class="row">
                     <div class="input-field col s2">
                       <i class="material-icons prefix">account_circle</i>
                        <input id="icon_telephone" type="email" class="validate">
                        <label for="icon_telephone">email</label>
                      </div>
                   </div>
				   
				   
				   
				   
                 </form>
              </div>
			  
                <center><button class="btn waves-effect waves-light" type="submit" name="action" href="#/app/components"> Avanti<i class="material-design-icons"></i> </button></center>
         
  

                 <!-- ============== SOCIAL LOGIN ==================================================== -->		 
                <div class="button-bar social-login">
                  <button class="button button-small button-border icon-left ion-social-google button-assertive-900">Google+</button>
                  <button class="button button-small button-border icon-left ion-social-twitter button-calm-900">Twitter</button>
                  <button class="button button-small button-border icon-left ion-social-facebook button-positive-900">Facebook</button>
               </div>
			 

    
   </ion-content>

</ion-view>